.days_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.days_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  width: 22%;
  height: 100px;
  box-shadow:  10px 7px 5px #cccccc;
}

.days_description {
  margin-top: 2px;
  margin-left: 10px;
  font-size: small;
}
