.container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.profile_image {
  margin-top: 90px;
  width: 90%;
  height: 600px;
  transition: 1s ease;
}

.profile_image:hover {
  cursor: pointer;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1.02);
  transition: 1s ease;
}

.days_container {
  width: 100%;
  display: flex;
}
