.container {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  font-family: Georgia, serif;
  background-color: white;
  overflow: hidden;
}


.nav_link {
  padding: 5px;
  display: inline-block;
  text-decoration: none;
  margin: 0px 20px;
  font-weight: 800;
  color: black;
  transition: 0.5s ease;
}

.nav_link_first {
  display: flex;
  align-items: center;
  font-size: 25px;
  text-decoration: none;
  margin: 0px 20px;
  font-weight: 800;
  color: black;
  transition: 0.5s ease;
}
.nav_link_first:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
  color: #555;
}

.nav_link:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;

  color: #555;
  border-bottom: 1px solid #555;
}
