.container {
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  font-family: Georgia, serif;
  background-color: white;
  border-bottom: 1px solid gray;
}

.nav_link {
  display: block;
  text-decoration: none;
  margin: 0px 10px;
  font-weight: 800;
  font-size: 15px;
  color: black;
}
.nav_link:after {
  display: block;
  content: "";
  border-bottom: 1px solid #555;
  transform: scaleX(0);
  transition: 0.3s ease-in-out;
}
.nav_link:hover:after {
  transform: scale(1);
}

.nav_link_first {
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 25px;
  text-decoration: none;
  margin: 0px 20px 0px 10px;
  font-weight: 800;
  color: black;
  transition: 0.8s ease;
}

.nav_link.dropbtn {
  background: transparent;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
